.margin{margin:0 auto;width:1228px;}

header{height:40px;background-color:#666666;font:12px/40px "";color:#cccccc;}
.header_l{float:left;height:40px;}
.header_l li{float:left;margin-right:43px;}
.header_l a{color:#cccccc;}
.header_l a:hover{color:#fff;}
.header_l li:last-child{position:relative;}
.header_l .code{position:absolute;width:180px;height: 200px;background-color: #fff;border: 1px solid #ccc;text-align: center;z-index: 99;left: -30px;display:none;} 
.header_l .code p{font-size:10px;}
.header_l .code img{width:140px;height:140px;}
.header_l li:last-child:hover .code{display:block;}

.header_r{float:right;height:40px;}
.header_r p{float:left;}
.header_r p a{color:#CCCCCC;}
.header_r p a:hover{color:#fff;}
.header_r span{float:left;margin:0 15px;}




#content{background:#f0f0f0;width:100%;padding:64px 0 54px 0;}
#content a{display:block;width:80px;height:48px;margin:0 auto;}
#content a img{width:80px;height:48px;margin:0 auto;}
#content p{font:24px/68px "";color:#666;text-align: center;}

#main{background:#fff;position:relative;}
#main .lunb{display:block;width:1350px;opacity:0.3;}
#main #table{font:12px/62px "";width:442px;margin:0 auto;position:absolute;top:0;left:400px;}
#main #table #username{width:442px;border:1px solid #999;margin:20px auto 0 auto;}
#main #table #username span{display: inline-block;height:62px;width:66px;background:blue;opacity:0.5;}
#main #table #username span img{width:18px;height:18px;margin:0 25px;}
#main #table #username input{border:none;width:350px;background:none;}
#main #table i{display: block;height: 30px;font:12px/30px "";color:red;}
#main #table #mima{width:442px;border:1px solid #999;margin:0 auto 0px auto;}
#main #table #mima span{display: inline-block;height:62px;width:66px;background:blue;opacity:0.5;}
#main #table #mima span img{width:18px;height:18px;margin:0 25px;}
#main #table #mima input{border:none;width:350px;background:none;}
#main #table #btn1{width:442px;border:1px solid #999;margin:0 auto;background:blue;text-align: center;opacity:0.5;}
#main #table #btn1 input{border: none;background:blue;opacity:0.5;font:18px/62px "";color:#fff;
text-align: center;}
#main #table .main3{font:14px/20px "";color:#555;margin-top:35px;text-align:center;}
#main #table .main3 a{display:inline-block;color:#555;}
#main #table .main3 span{margin:0 70px;font-size:20px;color:#999;}
#main #table .main4{margin:52px 0 0 35px;font-size:12px;color:#999;text-align:center;}
#main #table .main4 i{display:inline-block;width:133px;border-bottom:1px solid #999;margin-top:30px;}
#main #table .main4 .iL{float:left;}
#main #table .main4 .iR{float:right;}
#main #table .main5{margin:0 0 0 35px;}
#main #table .main5 img{margin:0 55px;}



footer{background:#e3e3e3;font:12px/24px "";color:#666666;padding:24px 0 26px 0;}
footer .footer_l{text-align: center;}
footer .footer_l .footer_t{margin-bottom:10px;}
footer .footer_l .footer_t a{display:inline-block;font:12px/24px "";color:#666666;}
footer .footer_l .footer_t span{margin:0 16px;}
footer .footer_l .footer_b{font:12px/22px "";color:#999;}
footer .footer_l .footer_b a{color:#999;}


#right{width:35px;position:fixed;right:30px;bottom:150px;text-align:center;display:none;}
#right p{width:35px;height:35px;background:#fff;margin:15px 0;margin-bottom:2px;background:gray;}
#right p:hover{background:red;}
#right p a img{margin:0 auto;width:16px;height:16px;vertical-align:middle;}
#right p a i{vertical-align:middle; width:0; height:100%; display:inline-block;}
#right span{display:inline-block;width:35px;height:30px;background:#fff;font:30px/35px "";color:#9f9f9f;line-height:35px;padding-top:5px;}
#right span a{color:#9f9f9f;}
#right span:hover a{color:red;}