@charset "utf-8";
/*header*/
.margin{width:1240px;margin: 0 auto;}
.header{position: relative;
width: 100%;
z-index: 998;
height: 80px;
background-color: #fff;
border-bottom: 1px solid #efefef;}
.header .header-a{}
/*logo*/
.header .header-a .a-logo{float: left;}
.header .header-a .a-logo a{display: block;overflow: hidden;height: 32px;margin-top: 25px;}
/*logo-zi*/
.header .header-a .logo-z{float: left;margin-left: 30px;line-height: 80px;}
.header .header-a .logo-z li{float: left;font-size: 14px;}
.header .header-a .logo-z li a{color: #999;}
 .header .header-a .logo-z li i{margin: 0 10px;color: #999;}
.header .header-a .logo-z .li-1{float: left;font-size: 14px;}
.header .header-a .logo-z .li-1 a{color: #333;}
.header .header-a .logo-z .li-1:hover a{color: red;}
.header .header-a .logo-y{float: right;height: 40px;font-size: 12px;
line-height: 40px;margin-top: 20px;}
.header .header-a .logo-y li{float: left;padding: 0 20px;}
.header .header-a .logo-y li:hover a{color: #00c3f5;}
/*section*/
.sec-t{background-color: #F5F5F5;}
.sec-t .section-1{padding-top: 10px;}
.sec-t .section-1 .table-1{height: 50px;background-color: #fff;
color: #333;border-bottom: 1px solid #EFEFEF;}
.sec-t .section-1 .table-1 .table-td{width: 220px;text-align: left;padding-left: 45px;}
.sec-t .section-1 .table-1 .table-td .td-1{display: inline-block;color: #333;line-height: 0;}

.sec-t .section-1 .table-1 .table-td .td-1 .td-11{display: inline-block;margin-right: 10px;
width: 17px;height: 17px;border: 1px solid #BDBDBD;border-radius: 2px;
background-color: #fff;text-align: center;font-size: 10px;line-height: 17px;}

.sec-t .section-1 .table-1 .table-td .td-1 .td-span{display:inline-block;}

.sec-t .section-1 .table-1 .td-22{width: 270px;text-align: left;}
.sec-t .section-1 .table-1 .td-33{width: 220px;text-align: center;}
.sec-t .section-1 .table-1 .td-44{width: 200px;text-align: center;}
.sec-t .section-1 .table-1 .td-55{width: 160px;text-align: center;}
.sec-t .section-1 .table-1 .td-66{width: 110px;text-align: right;padding-right: 40px;}
/*ul界面*/
.sec-t .section-1 .section-ul{margin-bottom: 10px;}
.sec-t .section-1 .section-ul .ul-li{background-color: #fff;}
.sec-t .section-1 .section-ul .ul-li .li-div{height: 50px;line-height: 49px;
padding-left: 45px;background-color: #FAFAFC;}
.sec-t .section-1 .section-ul .ul-li .li-div .d-iv{color: #666;font-weight: 400;
display: inline-block;line-height: 0;}

.sec-t .section-1 .section-ul .ul-li .li-div .d-iv .div-zi{margin-right: 10px;
display: inline-block;width: 17px;height: 17px;border: 1px solid #BDBDBD;
border-radius: 2px;background-color: #fff;text-align: center;font-size: 10px;
line-height: 17px;}
.sec-t .section-1 .section-ul .ul-li .li-div .d-iv .s-pan{display: inline-block;
vertical-align: middle;}
.sec-t .section-1 .section-ul .ul-li .table-2{border-bottom: 1px solid #EFEFEF;}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr{height: 150px;
border-top: 1px solid #EFEFEF;}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .td-td{
width: 220px;text-align: left;padding-left: 45px;}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .td-td .td-divv
{margin-right: 10px;display: inline-block;width: 17px;height: 17px;
border: 1px solid #BDBDBD;border-radius: 2px;background-color: #fff;
text-align: center;font-size: 10px;line-height: 17px;}

.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .td-td .aaa
{margin-left: 35px;display: inline-block;}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .td-td .aaa img
{width: 100px;height: 100px;display: inline-block;}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .td-td2{
width: 270px;text-align: left;}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .td-td2 a{
display: inline;line-height: 22px;width: 100%;color: #666;}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .td-td2 a p{
width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .td-td2 a span{
color: #999;}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .td-td3{
width: 220px;text-align: center;}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .td-td3 p .td3-span{
font-size: 16px;color: #666;font-weight: bolder;}

.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .yunsuan{}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .yunsuan input{ float:left; 
}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .yunsuan input[type=button]{
background:#f5f5f5; width:40px;height:40px;background: none;border: 0;border: 1px solid #808080;}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .yunsuan input[type=text]{
border-top:1px solid #ddd;border-bottom:1px solid #ddd;width:58px;height:38px;}

.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .td-td4{width: 160px;
text-align: center;}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .td-td4 span{font-weight: bolder;
color: #e02b41;font-size: 16px;}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .td-td5{width: 110px;
text-align: right;padding-right: 40px;}
.sec-t .section-1 .section-ul .ul-li .table-2 tbody .tbody-tr .td-td5 div{
width: 142px;height: 24px;border-radius: 100%;background-color: transparent;
text-align: center;line-height: 15px;font-size: 24px;cursor: pointer;
color: #666666;}

.sec-t .section-1 .div-dv{height: 70px;font-size: 14px;color: #666;line-height: 67px;
background-color: #fff;}

.sec-t .section-1 .div-dv .dv-div1{float: left;margin-left: 45px;height: 100%;}
.sec-t .section-1 .div-dv .dv-div1 .div1-div1{display: inline-block;color: #333;
line-height: 0;}
.sec-t .section-1 .div-dv .dv-div1 .div1-div1 .div1-zh{margin-right: 10px;
display: inline-block;width: 17px;height: 17px;border: 1px solid #BDBDBD;
border-radius: 2px;background-color: #fff;text-align: center;font-size: 10px;
line-height: 17px;}
.sec-t .section-1 .div-dv .dv-div1 .div1-div1  span{display: inline-block;}

.sec-t .section-1 .div-dv .dv-div1 .spp{color: #999;margin: 0 30px 0 20px;}
.sec-t .section-1 .div-dv .dv-div1 .sppa{}
.sec-t .section-1 .div-dv .dv-div1 .sppa .sppan{margin: 0 5px;color: #000;
font-size: 14px;line-height: 67px;}
.sec-t .section-1 .div-dv .dv-div1 .sppa .sppann{color: #00c3f5;margin: 0 5px;}

.sec-t .section-1 .div-dv .dv-div2{float: right;height: 100%;margin-right: 30px;}

.sec-t .section-1 .div-dv .dv-div2 span {}
.sec-t .section-1 .div-dv .dv-div2 span .sasa{color: #e02b41;margin: 0 5px;}

.sec-t .section-1 .div-dv .dv-div2 span .sasasa{font-size: 20px;color: #e02b41;
margin-right: 95px;font-weight: bolder;}
.sec-t .section-1 .div-dv .dv-div2 .sa-div{float:right;width:100px;height:36px;border-radius:6%;
color:#fff;background:#DBDBDB;margin-right: 20px;margin-top:18px;text-align: center;}
.sec-t .section-1 .div-dv .dv-div2 .sa-div p{display: block;line-height: 36px;}

/*脚部分*/
.footer{/*position: absolute;bottom: 0;left: 0;*/width: 100%;color: #666;
font-size: 12px;background-color: #fafafc;overflow: hidden;}
.footer .mzcontainer{}
.footer .mzcontainer .footer-service{border-bottom: 1px solid #e5e5e5;
padding: 38px 8px 85px;}
.footer .mzcontainer .footer-service .footer-li{position: relative;
float: left;width: 203px;text-align: center;}
.footer .mzcontainer .footer-service .footer-li .ppp{margin-top:12px;}
.footer .mzcontainer .footer-service .footer-li .ppp .span-name{
font-weight: bolder;margin-right: 5px;}

.footer .mzcontainer .footer-nav{padding: 30px 0;border-bottom: 1px solid #e5e5e5;}
.footer .mzcontainer .footer-nav .footer-nav-itme{float: left;
width: 245px;text-align: center;}
.footer .mzcontainer .footer-nav .footer-nav-itme .p1p{color: #333;
font-size: 14px;margin-bottom: 10px;}
.footer .mzcontainer .footer-nav .footer-nav-itme .ul-ul{line-height: 22px;}
.footer .mzcontainer .footer-nav .footer-nav-itme .ul-ul .aaaa{color: #666;
transition: color .2s linear;}
.footer .mzcontainer .footer-nav .footer-nav-itme .ul-ul #posi{position: relative;}
.footer .mzcontainer .footer-nav .footer-nav-itme .ul-ul .aaaa img{position: absolute;
left: 30px;top: -192px;display: none;}
.footer .mzcontainer .footer-nav .footer-nav-itme .ul-ul .aaaa:hover img{display: block;}
.footer .mzcontainer .footer-nav .footer-nav-itme .ul-ul li:hover .aaaa{color: #00c3f5;}
.footer .mzcontainer .footer-nav .iil{float: left;width: 244px;margin-left: 5px;text-align: center;} 
.footer .mzcontainer .footer-nav .iil .il-p{color: #666;font-size: 14px;margin-bottom: 10px;}
.footer .mzcontainer .footer-nav .iil .il-p-a{font-size: 24px;color: #1fa7ea;margin: 20px;}
.footer .mzcontainer .footer-nav .iil .il-p-a2{display: inline-block;border-radius: 4px;
color: #fff;font-size: 12px;height: 34px;width: 160px;line-height: 34px;margin-top: 14px;
text-align: center;text-decoration: none;transition: all .2s linear;background-color: #1fa7ea;}
.footer .mzcontainer .footer-nav .iil .il-p-a2 i{margin-right: 5px;font-size: 16px;}
.footer .mzcontainer .footer-nav .iil .il-p-a2 i img{border-radius:50%;}
.footer .mzcontainer .footer-nav .iil .il-p-a2:hover{background-color: #4dcff6;}

.footer .mzcontainer .foo-ter{padding: 38px 0 56px;text-align: center;}
.footer .mzcontainer .foo-ter a{color:#999999;line-height:27px;
font-size:12px;margin:0 3px;}
.footer .mzcontainer .foo-ter .zxz-1{margin:0 6px;}
.footer .mzcontainer .foo-ter .zxz-1 i{width:14px; background:url(../images/index1.png) no-repeat;
position:relative;top:4px;display:inline-block;height:18px;background-position:center center;}
.footer .mzcontainer .foo-ter .zxz-2{margin:0;}
.footer .mzcontainer .foo-ter .zxz-2 i{width:20px; background:url(../images/index22.png) no-repeat;
position: relative;top:4px;display: inline-block;height:18px;background-position:center center;}
.footer .mzcontainer .foo-ter .zxz-3{margin:0;}
.footer .mzcontainer .foo-ter .zxz-3 i{width:20px; background:url(../images/index33.png) no-repeat;
position: relative;top:4px;display: inline-block;height:18px;background-position:center center;}
.footer .mzcontainer .foo-ter .zxz-4{margin:0;}
.footer .mzcontainer .foo-ter .zxz-4 i{width:20px; background:url(../images/index44.png) no-repeat;
position: relative;top:4px;display: inline-block;height:18px;background-position:center center;}
